* {
	padding: 0;
	margin: 0;
	border: 0;
}
*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
ul li {
	list-style: none;
}
a {
	color: rgb(133, 102, 247);
}

html {
	font-size: 10px;
	padding: 10px;
}


body {
	font-family: 'Lato';
}

.content-wrapper {
	max-width: 980px;
	margin: 0 auto;
	box-shadow: 5px 5px 5px 5px rgb(177, 175, 175);
	display: flex;
}
/* HEADER */
.section {
	padding: 10px 30px;
}
.header {
	background-color: rgb(51, 51, 51);
	min-width: 235px;
	padding: 20px 0;
}
.main {
	padding: 20px 0;
}
.photo {
	width: 80%;
	min-width: 80px;
	overflow: hidden;
	border-radius: 50%;
	margin: auto;
	margin-bottom: 10px;
}
.photo>img {
	width: 100%;
}
.header__left {
	color: aliceblue;
	padding: 15px 30px;
}

.left-section__title {
	color: rgba(255, 255, 255, 0.700);
	font-size: 22px;
	font-weight: 600;
}
.left-section-content {
	font-size: 1.2rem;
	line-height: 15px;
	margin-bottom: 10px;
	padding: 10px 0;
	border-bottom: 1px solid rgba(255, 255, 255, 0.700);
}
.left-section-content>ul>li {
	display: inline-block;
	color: rgb(255, 255, 255, 0.712);
}

.section__title {
	color: rgba(0, 0, 0, 0.856);
	font-size: 2.2rem;
	font-weight: 600;
	margin-bottom: 15px;
}
.section-content {
	font-size: 1.6rem;
	line-height: 25px;
	text-align: left;
}

.name {
	text-transform: uppercase;
	font-size: 2.6rem;
	font-weight: 700;
	letter-spacing: 3px;
	margin-bottom: 15px;
}
.position {
	font-size: 1.8rem;
	font-weight: 400;
	margin-bottom: 10px;
	padding-bottom: 10px;
	color: rgba(0, 0, 0, 0.7);
	border-bottom: 1px solid rgba(255, 255, 255, 0.700);
}
.contacts {
	border-bottom: 1px solid rgba(255, 255, 255, 0.700);
	margin-bottom: 10px;
	padding-bottom: 10px;
}
.contacts>p>a {
	color: rgb(255, 255, 255, 0.700);
	text-decoration: underline;
}
.contact__item {
	padding: 2px;
	color: rgb(255, 255, 255, 0.700);
	font-size: 1.2rem;
}

.dot {
	height: 5px;
	width: 5px;
	background-color: aliceblue;
	border-radius: 50%;
	display: inline-block;
	margin-bottom:1.5px;
}

.job {
	padding-bottom: 20px;
}
.job__title {
	font-size: 1.6rem;
	font-weight: normal;
	padding: 1px 2px;
	background-color: rgba(211, 211, 211, 0.171);
}
.job__company{
	font-size: 1.4rem;
	color: rgba(0, 0, 0, 0.7);
	font-weight: normal;
}
.section__experiance_desc {
	padding: 10px 0;
}
.dot-black {
	height: 5px;
	width: 5px;
	background-color: rgb(0, 0, 0);
	border-radius: 50%;
	display: inline-block;
	margin-bottom: 3px;
}
.what-i-do {
	font-size: 1.5rem;
	font-weight: normal;
}
.responsibilities {
	display: block;
	font-size: 1.5rem;
}
.skills {
	border: 1px solid rgba(0, 0, 0, 0.068);
	border-radius: 15px;
	padding: 3px 5px;
	background-color: rgba(211, 211, 211, 0.171);
	font-size: 1.3rem;
	line-height: 15px;
	white-space: nowrap;
	margin-right: 2px;
}
.section__about-me_desc {
	font-size: 1.5rem;
	line-height: 25px;
}


a:hover {
	text-decoration: underline;
}


@media screen and (max-width: 680px) {
	html {
		font-size: 8px;
	}
	.header {
		min-width: 200px;
	}
	.section-content {
		line-height: 20px;
	}
}

@media screen and (max-width: 480px) {
	html {
		font-size: 6px;
	}
	.header {
		min-width: 130px;
	}
	.header__left {
		padding: 0 5px;
	}
	.section-content {
		line-height: 15px;
	}
	.section {
		padding: 5px 10px;
	}
	.section__desc {
		padding: 0 5px;
	}
}